node_modules/
src/.passwords.txt
.DS_Store
src/user_management/.env
src/user_profiling/.env
src/data_aggregation/.env
src/data_processing/.env
src/data_aggregation/__pycache__/
src/data_processing/__pycache__/
forecast_model_ts.keras
mean_ts.npy
std_ts.npy
src/ai_forecasting/__pycache__/
